/* BURGER MENU NAV*/
#detail-burgerMenuDropDown {
  background-color : var(--orange);
  height: 1170px;
  display: none;
}
#detail-burgerMenuDropDown h2 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  }
#detail-burgerMenu nav {
  height: 160px;
}

/* TYPO */
.detail h1, h2, h3, h4, .detail-price p {
  color : var(--orange);
  font-family: "Helvetica Neue LT Std 57 Condensed";
}
.detail h1{
  font-size: 4rem;
  font-weight: 500;
}
.detail-carouselDescription h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
.detail-carouselDescription p {
  font-size: 1.5rem;
  font-weight: 600;
}

/*GENERAL */
.detail-titleStar {
  font-size: 50px;
  margin-top: -40px;
  margin-bottom: -40px;
  color : var(--orange);
}
.detail-boxShadow {
  box-shadow: 3px 5px 6px black;
}

/* HEADER */
.detail-banner {
  background: url('../images/detail/header.jpg');
  height: 692px;
}



/*SECTION DESCRIPTION */

.detail-description{
  background-color: white;
  height:905px;
  margin-top: -40px;
  height:905px;
  margin-bottom: 10rem;
}
.detail-confortMoreCircle {
  border: 1px solid var(--orange);
  width: 5rem;
  height:5rem;
  border-radius: 5rem;
}
#detail-confortMore {
  display: none;
}


/* SECTION CHAMBRE */

.detail-carouselDescription {
  top:5rem;
  right:5rem;
  width: 567px;
  height: 460px;
}

.detail-accecibiltyPartBgOrange {
  background-color : var(--orange);
  bottom: 0;
  width: 100%;
  height: 93px;
}
.detail-accecibiltyPartRoundPurple {
  border-radius: 50rem;
  height: 3rem;
  width: 3rem;
  background-color : var(--purple);
}
.detail-accecibiltyPartIcon {
  margin-top: -15px;
}


/*FOOTER*/

footer {
  background-color: var(--orange);
  height: 960px;
}
footer button {
  background-color: transparent;
  border: 2px solid black;
}

.button-group {
  width: 20rem;
}
