
/* TYPO */
.detail {
  font-family: "Helvetica Neue LT Std 57 Condensed";
}
#detail-description {
  font-size: 1.8rem;
}
.detail h1, h2, h3, h4, .detail-price p {
  color : var(--orange);
}
.detail h1{
  font-size: 5rem;
}
.detail h2{
  font-size: 4rem;
}
.detail-confort h4 {
  font-size: 2rem;
}
.detail-titleStar + p {
  font-size: 1.6rem;
}
.detail-carouselDescription h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
.detail-carouselDescription p {
  font-size: 2rem;
}
.detail-breadcrumbs a{
  font-size: .7rem;
  color : var(--orange);
  font-weight: 700;
}
/* GENERAL */
.detail-boxShadow {
  box-shadow: 0px 0px 30px grey;
}

/* BURGER MENU NAV*/
#detail-burgerMenuDropDown {
  background-color : var(--orange);
  height: 1000px;
  display: none;
}
.detail-container {
  margin-top : -50px;
}
#detail-burgerMenuDropDown h2 {
  color: white;
  font-weight: 700;
  font-size: 3rem;
  }
#detail-burgerMenu nav {
  height: 160px;
}
.detail-BurgerMenuDropDownDescription {
  margin-top: -40px;
}

/* NAV */
.detail-titleStar {
  font-size: 70px;
  margin-top: -38px;
  margin-bottom: -55px;
  color : var(--orange);
}

/* HEADER */
.detail-banner {
  background: url('../images/detail/header.jpg');
  height: 692px;
}


/*SECTION DESCRIPTION */


#detail-description{
  background-color: white;
  height:870px;
  margin-top: -130px;
  margin-bottom: 10rem;
}
.detail-confortMoreCircle {
  border: 1px solid var(--orange);
  width: 4rem;
  height:4rem;
  border-radius: 5rem;
}
.detail-confortMoreCircle:hover {
  background-color: var(--purple);
  border: none;
}

#detail-confortMore {
  display: none;
}

#detail-description .detail-titleStar {
  font-size: 50px;

}

.detail-ConfortMoreHoverDescription p {
  color: var(--purple);
  font-size: 0.95rem;
}

#detail-confortMoreDescriptionWifi, #detail-confortMoreDescriptionHairdryer, #detail-confortMoreDescriptionPhone, #detail-confortMoreDescriptionTv,
#detail-confortMoreDescriptionParabole, #detail-confortMoreDescriptionWindows {
  display: none;
}

#detail-confortMoreDescriptionWifi {
  margin-left: 6.8rem;
}
#detail-confortMoreDescriptionHairdryer {
  margin-left: 13.6rem;
}
#detail-confortMoreDescriptionPhone {
  margin-left: 21.8rem;
}
#detail-confortMoreDescriptionTv {
  margin-left: 29.8rem;
}
#detail-confortMoreDescriptionParabole {
  margin-left: 38.2rem;
}
#detail-confortMoreDescriptionWindows {
  margin-left: 45rem;
}



/* SECTION CHAMBRE */

.detail-carouselDescription {
  top:5rem;
  right:5rem;
  width: 567px;
  height: 460px;
}
.detail-carouselDescription p {
    padding-left: 5rem;
    padding-top: 2rem;
}
.detail-accecibiltyPartBgOrange {
  background-color : var(--orange);
  bottom: 0;
  width: 100%;
  height: 93px;
}
.detail-accecibiltyPartRoundPurple {
  border-radius: 50rem;
  height: 3rem;
  width: 3rem;
  background-color : var(--purple);
}
.detail-accecibiltyPartIcon {
  margin-top: -15px;
}


/* SECTION CARTE */
.detail-map iframe {
  width: 100%;
  height:100%;
}
.detail-map {
  height: 640px;
}

/*FOOTER*/

footer {
  background-color: var(--orange);
  height: 960px;
}

.button-group {
  width: 20rem;
}

.button-group button {
  font-size: .9rem;
}
