.text-h1 {
  color: var(--orange);
  display: flex;
  justify-content: center;
  font-family: "Helvetica Neue LT Std 77 Bold Condensed" sans-serif;
}
.text-header {
  height: 797px;
  position: relative;
}
.text-imgBanner {
  position: relative;
}
.text-imgBgBanner {
  width: 100%;
}
.text-containerBanner {
  background-color: var(--orange);
  color: white;
  padding-left: 160px;
  padding-top: 55px;
  position: absolute;
  bottom: 0;
}
.text-buttonDecouvrir {
  border: 1px solid white;
  background-color: var(--orange);
  color: white;
  width: 30%;
  font-size: 0.7rem;
  margin-bottom: 40px;
}
.text-buttonDecouvrir:hover {
  background-color: white;
  color: var(--orange);
}
.text-iconSocialMedia {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 220px;
}
.text-iconSocialMedia img {
  width: 35px;
  padding-bottom: 8px;
}
.text-iconGoogle {
  width: 25px!important;
}
.text-fontOrange {
  color: var(--orange);
}
.text-fontBlack {
  color: var(--black);
}
.text-breadcrumbs {
  display: flex;
  margin-top: 45px;
  margin-bottom: 45px;
  padding-left: 160px;
}
.text-breadcrumbs a{
  text-decoration: none;
}
.text-breadcrumbs h3{
  font-size: 1rem;
}
.text-titleServices {
  padding-left: 160px;
  display: flex;
}
.text-titleServices h2 {
  padding-top: 20px;
}
.text-iconRestau {
  width:8rem;
  padding-left: 20px;

}
.text-fontPurple {
  color: var(--purple);
}
.text-imgServices {
  position: relative;
}
.text-imgServices img{
  width: 100%;
}
.text-encadreText {
  margin-left: 160px;
  margin-right: 160px;
  background-color: white;
  border-top: 10px solid var(--gray);
  border-right: 10px solid var(--gray);
  padding-top: 3%;
  padding-bottom: 3%;
  font-weight: bold;

}
